<!--Managers Table -->
<h1>Managers Table</h1>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ManagerID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Gender</th>
        <th scope="col">Appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let manager of managers">
        <th scope="row">{{ manager.managerId }}</th>

        <td>{{ manager.firstName }}</td>
        <td>{{ manager.lastName }}</td>
        <td>{{ manager.address }}</td>
        <td>{{ manager.phone }}</td>
        <td>{{ manager.gender }}</td>
        <td>
          <button (click)="btnClick(manager.managerId)">New Appointment</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <app-visitor-table></app-visitor-table>
</div>
