<div class="main-container">
  <form [formGroup]="addManagerForm" (ngSubmit)="onSubmit()">
    <!-- <label for="managerID">Manager Id:</label>
    <input
      min="0"
      type="number"
      id="managerId"
      formControlName="managerId"
      value=""
    /> -->

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName" value="" />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName" value="" />

    <label for="address">Address:</label>
    <input type="text" id="address" formControlName="address" value="" />

    <label for="phone">Phone Number:</label>
    <input type="text" id="phone" formControlName="phone" value="" />

    <!-- Radio-input for gender -->
    <label for="gender">Gender:</label>

    <div class="radio-container">
      <div class="radio-div">
        <input
          class="gender-radio"
          type="radio"
          formControlName="gender"
          id="male"
          value="male"
        />
        <label class="radio-label" for="female">Male</label>
      </div>

      <div class="radio-div">
        <input
          class="gender-radio"
          type="radio"
          formControlName="gender"
          id="female"
          value="female"
        />
        <label class="radio-label" for="other">Female</label>
      </div>

      <div class="radio-div">
        <input
          class="gender-radio"
          type="radio"
          formControlName="gender"
          id="other"
          value="other"
        />
        <label class="radio-label" for="other">Other</label>
      </div>
    </div>

    <button class="button" type="submit">Submit</button>
  </form>
</div>
